/* Définition de la police */

@font-face {
    font-family: 'ralewaybold';
    src: url('raleway/raleway-bold-webfont.eot');
    src: url('raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway/raleway-bold-webfont.woff2') format('woff2'),
         url('raleway/raleway-bold-webfont.woff') format('woff'),
         url('raleway/raleway-bold-webfont.ttf') format('truetype'),
         url('raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('raleway/raleway-light-webfont.eot');
    src: url('raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway/raleway-light-webfont.woff2') format('woff2'),
         url('raleway/raleway-light-webfont.woff') format('woff'),
         url('raleway/raleway-light-webfont.ttf') format('truetype'),
         url('raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayregular';
    src: url('raleway/raleway-regular-webfont.eot');
    src: url('raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('raleway/raleway-regular-webfont.woff') format('woff'),
         url('raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaysemibold';
    src: url('raleway/raleway-semibold-webfont.eot');
    src: url('raleway/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway/raleway-semibold-webfont.woff2') format('woff2'),
         url('raleway/raleway-semibold-webfont.woff') format('woff'),
         url('raleway/raleway-semibold-webfont.ttf') format('truetype'),
         url('raleway/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Eléments principaux de la page */

body
{
    font-family: 'ralewayregular', Arial, sans-serif;
}

#bloc_page
{
    max-width: 95%;
    margin: 0 auto;
}

h1
{
    font-size: 1.2em;
    font-family: 'ralewaybold', Arial, sans-serif;
}

h2
{
    font-size: 1.2em;
    font-family: 'ralewaybold', Arial, sans-serif;
}

h3
{
    font-size: 0.9em;
    font-family: 'ralewaybold', Arial, sans-serif;
}

/* Header */

header
{
    display: flex;
    flex-direction:column;
}

#logo
{
    display: flex;
}

#logo img
  {
    width: 100px;
    height: 50px;
  }

nav ul
{
    list-style-type: none;
    display: flex;
    padding-left: 0;
    
}

nav li
{
    margin-right: 30px;
    margin-left: 30px;
}

nav a
{
    font-size: 0.9em;
    color:#000000;
    text-decoration: none;
    padding-bottom: 3px;
    padding-top: 30px;
}

nav a:hover
{
    color:#0065FC;
    font-weight: bolder;
}

nav li:nth-child(-n+2):hover
{
    border-bottom: 3px solid #0065FC;
    color:#0065FC;
    padding-bottom: 10px; 
}

nav li:nth-child(-n+2)
{
    border-bottom: 2px solid #F2F2F2;
    padding-bottom: 10px;
    margin: 0;
    padding-left: 45px;
    padding-right: 45px;
}

nav > ul > li:nth-child(3) > a
{
    font-family:'ralewaybold', Arial, sans-serif;
    font-weight:bolder;
    color:#0065FC;
    position: absolute;
    top: 2px;
    right: 14px;
}


#intro h1
{
    padding-left: 15px;
    padding-right: 45px;
}

#intro p
{
    font-size: 0.9em;
    padding-left: 15px;
    margin-bottom: 35px;
}



/*Barre de recherche*/

#recherche
{
    display: flex;
    flex-wrap: nowrap;
    margin-top:25px;
     
}

.fa-search
{
    background-color: #0065FC;
    border-color: #0065FC;
    color: white;
    padding: 1em;
    border-radius: 0 10px 10px 0;
}

.fa-map-marker-alt
{
    background-color:#F2F2F2 ;
    padding: 1em;
    border-radius: 10px 0 0 10px;
    margin-left: 10px;
    
}

#barre-recherche
{
    font-family: 'ralewaybold', Arial, sans-serif;
    font-size: smaller;
    font-weight: bold;
    border: #F2F2F2 1px solid;
    padding: 1.2em;
}

.bouton_recherche button
{
    display: none;
}

/* Filtres */

#filtres
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.economique:hover, .familial:hover, .romantique:hover, .animaux:hover
{
    background-color:  #0065FC;
}

#filtres div
{
    font-family: 'ralewaybold', Arial, sans-serif;
    font-weight: bold;
    
}

#filtres > h2
{
    font-size:1em;
    padding-left: 8px;
    margin-bottom: 8px;
}

.fa-money-bill-wave, .fa-heart, .fa-dog
{
    color:  #0065FC;
    background-color: #DEEBFF;
    padding: 10px;
    border-radius: 25px 25px 25px 25px;
    margin-right: 10px;
    margin-left: -2px;
}

.fa-child
{
    color:  #0065FC;
    background-color: #DEEBFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 60px 60px 60px 60px;
    margin-right: 10px;
    margin-left: -2px;
}

.economique, .romantique, .animaux
{
    border: 3px solid;
    border-color: #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    padding-right: 15px;
    margin: 5px;
    font-size: smaller;
}

.familial
{
    border: 3px solid;
    border-color: #F2F2F2;
    border-radius: 60px 60px 60px 60px;
    padding-right: 15px;
    margin: 5px;
    font-size: smaller;
}

#nombre_recherche p
{
    font-size: smaller;
    margin-bottom: 5px;
    margin-right:50px;
    font-weight: lighter;
}

#nombre_recherche
{    
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}

.fa-info
{
    color: #0065FC;
    border: 1px solid;
    border-color: #F2F2F2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px 25px 25px 25px;
    font-size: smaller;
}

#econo-familial
{
    display: flex;
    flex-direction: row;
    
}

/* Hébergements */

section
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column-reverse;
}

.hebergements
{
    margin-bottom: 14px;
    background-color: none;
    border-radius: 25px 25px 25px 25px;
    max-width: 500px;
    
}

.hebergements h2
{
    padding-left: 15px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.hebergements h3, p, .blue-stars
{
    padding-left: 10px;
    height: 10px;
    
}

aside .hebergements, .blue-stars, .grey-stars
{
    font-size: x-small;
}


.hebergements p 
{    
    font-size: 0.75em;
  
}



.hebergements #bottom
{
    font-family: 'ralewaybold', Arial, sans-serif;
    font-weight: bold;
    padding-left: 5px;
    margin-top:20px;
}


.ligne1
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction:column;
       
}

.ligne1 img
{
    width: 19.8em;
    height: 8em;
    object-fit: cover;
}

.ligne2
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction:column;
}

.ligne2 img
{
    width: 19.8em;
    height: 8em;
    object-fit: cover;
}

#bottom p
{
    font-size: 1em;
    font-weight: bold;
}



.fa-chart-line
{
    padding-left: 28%;
    font-size: larger;
}

.blue-stars
{
    color:#0065FC;
}

.stars .grey-stars
{
    color:#F2F2F2;
    margin-left: 5px;
}

.grey-stars
{
    color:#F2F2F2;
}

.stars
{
    display: flex;
}

#cannebiere, #port, #mouettes, #mer, #panier, #amina
{
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    border: 5px solid white;
    margin: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px #F2F2F2);
    width: 19.5em;
       
} 
.hebergements a
{
    text-decoration: none;
    color:#000000;
}

a:hover
{
    color:#000000;
}

.hebergements img
{
    border-radius: 25px 25px 0 0;
    margin-bottom: -10px;
}

/*Aside */
aside
{
    background-color: #F2F2F2;
    margin-top: 35px;
    padding: 16px;
}

aside h2, p
{
margin-top: 0;
}

#bloc_page > section:nth-child(6) > aside > h3
{
      padding-left: 3px;
}


#soleil-du-matin, #au-coeur-de-leau, #toutbleuetblanc
{
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    border: 5px solid white;
    margin-bottom: 20px;        
    width: 19em;
    height: 145px;  
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px #bdbdbd);
} 


aside a
{
    text-decoration: none;
    color:#000000;
}

aside img
{
    border-radius: 25px 0 0 25px;    
    object-fit:cover;
    width: 8em;
    height: 9em;
    float: left;
}

aside h2
{
    padding-top: 15px;
    margin-bottom: 20px;
}

aside h3
{
    padding-left: 20px;
}

aside p
{
    padding-left: 20px; 
    font-size:0.75em;
}

.soleil-desc .blue-stars
{
    padding-top: 40px;
    padding-left: 20px; 
    
}

.aucoeurdeleau-desc .stars
{
    padding-top: 40px;
    padding-left: 10px; 
   
}

.toutbleuetblanc-desc .stars
{
    padding-top: 40px;
    padding-left: 10px; 
   
}

.soleil-desc, .aucoeurdeleau-desc, .toutbleuetblanc-desc
{

   margin-bottom: -10px;
   display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}
/* Activités */

#activites
{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

#activites h3
{
    padding-left: 20px;
}

#activites-t > h2
{
margin-bottom: 0;
margin-left: 15px;
}

#activites img
{
    border-radius: 25px 25px 0 0;
        
}

.colonne1 img
{
   object-fit:cover;
   width:20em;
   height:10em;
}

.pomegues img
{
    object-fit:cover;
    object-position: center;
   width:20em;
   height:10em;
}

.frioul img
{
    object-fit:cover;
    object-position: top;
    width:20em;
   height:10em;
}

.colonne3 img
{
    object-fit:cover;
   width:20em;
   height:10em;
}

.notredame img
{
    object-fit:cover;
    object-position: center;
   width:20em;
   height:10em;
}

.longchamp img
{
    object-fit:cover;
    object-position: center;
   width:20em;
   height:10em;
}


.colonne1, .pomegues, .frioul, .colonne3, .notredame, .longchamp
{
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    margin: 20px;
    margin-left:14px;
    padding-bottom: 1px;
    box-shadow: 0 0 4px 4px  #F2F2F2;
    text-decoration: none;
    width: 20em;
    height: fit-content;  
}

.colonne2 .pomegues
{
    margin-bottom: 35px;
}

.colonne4 .notredame
{
    margin-bottom: 35px;
}

#activites h2
{
    padding-left:20px;
    font-size: 0.9em;
}

#activites a
{
    color: black;
    text-decoration: none;
}


/*Footer */

footer
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    background-color: #F2F2F2;
    max-width: 100%;
    flex-direction: column;
    padding-left:20px;
}

footer h3
{
    padding-left: 6px;
    margin-bottom: -10px;
}

footer ul
{
    list-style-type: none;
    text-decoration: none;
    padding-left: 0px;
}

footer a
{
    font-size: 0.75em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
    margin-left: 7px;
}

footer a:hover
{
    color:  #0065FC;
}

footer li
{
    line-height: 1.7em;
}

