 
/* Définition de la police */

@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-variablefont_wght-webfont.eot');
    src: url('raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-variablefont_wght-webfont.woff') format('woff'),
         url('raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Eléments principaux de la page */

body
{
    font-family: 'ralewaythin', Arial, sans-serif;
}

#bloc_page
{
    width: auto;
    margin: auto;
}

h1
{
    font-size: 1.5em;
}

footer h1,  #filtres h1
{
    font-size: 1em;
}

em
{
    font-weight: bold;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1320px;
}

#logo
{
    display: flex;
}

#logo img
  {
    width: 100px;
    height: 50px;
  }

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 30px;
    margin-left: 30px;
}

nav a
{
    font-size: 1.2em;
    color:#0065FC;
    text-decoration: none;
    padding-bottom: 3px;
    padding-top: 30px;
}

nav a:hover
{
    color:#000000;
    border-top: 2px solid #0065FC ;
    padding-top: 30px;
}


#intro p
{
    margin-left: -5px;
}

/*Barre de recherche*/

#recherche
{
    display: flex;
    flex-wrap: nowrap;
     
}

.fa-map-marker-alt
{
    background-color:#F2F2F2 ;
    padding: 1%;
    border-radius: 10px 0 0 10px;

}

#barre-recherche
{
    font-family: 'ralewaythin', Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    border-color: #F2F2F2;
    padding: 5%;
}

.bouton_recherche button
{
    font-family: 'ralewaythin', Arial, sans-serif;
    background-color: #0065FC;
    border-color: #0065FC;
    font-size: 1em; 
    font-weight: bold;
    color: white;
    padding: 12.8%;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

/* Filtres */

#filtres
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
    margin-left: 10px;
    max-width: 900px;
    cursor: pointer;
}

#filtres div:hover
{
    background-color:  #0065FC;
}

#filtres div
{
    font-weight: bold;
    
}

.fa-money-bill-wave, .fa-heart, .fa-dog
{
    color:  #0065FC;
    background-color: #DEEBFF;
    padding: 10px;
    border-radius: 25px 25px 25px 25px;
    margin-right: 10px;
    margin-left: -2px;
}

.fa-child
{
    color:  #0065FC;
    background-color: #DEEBFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 60px 60px 60px 60px;
    margin-right: 10px;
    margin-left: -2px;
}

.economique, .romantique, .animaux
{
    border: 3px solid;
    border-color: #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    padding-right: 15px;
    
}

.familial
{
    border: 3px solid;
    border-color: #F2F2F2;
    border-radius: 60px 60px 60px 60px;
    padding-right: 15px;
}

#nombre_recherche p
{
    font-size: 1em;
}

.fa-info
{
    color: #0065FC;
    border: 1px solid;
    border-color: #F2F2F2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px 25px 25px 25px;
    margin-right: 10px;
}

/* Hébergements */

section
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1300px;
}

.hebergements
{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 25px 25px 25px 25px;
    max-width: 1000px;
}

.hebergements h1
{
    padding-left: 15px;
    
}

.hebergements h2, p, .blue-stars
{
    padding-left: 10px;
    height: 15px;
}

.hebergements h2 
{
    font-size: 1em;
    font-weight: bold;
}



.hebergements #bottom
{
    padding-left: 5px;
}


.ligne1
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.ligne1 img
{
    width: 15em;
    height: 7.5em;
    object-fit: cover;
}

.ligne2
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.ligne2 img
{
    width: 15em;
    height: 7.5em;
    object-fit: cover;
}

#bottom p
{
    font-size: 1em;
    font-weight: bold;
}



.fa-chart-line
{
    padding-left: 100px;
}

.blue-stars
{
    color:#0065FC;
}

.stars .grey-stars
{
    color:#F2F2F2;
    margin-left: 5px;
}

.grey-stars
{
    color:#F2F2F2;
}

.stars
{
    display: flex;
}

#cannebiere, #port, #mouettes, #mer, #panier, #amina
{
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    border: 5px solid white;
    margin: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px grey);
       
} 
.hebergements a
{
    text-decoration: none;
    color:#000000;
}

a:hover
{
    color:#000000;
}

.hebergements img
{
    border-radius: 25px 25px 0 0;
    margin-bottom: -15px;
}

/*Aside */
aside
{
    background-color: #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 17px;
    max-width: 450px;
}

#soleil-du-matin, #au-coeur-de-leau, #toutbleuetblanc
{
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    border: 5px solid white;
    margin: 23px;        
    width: 340px;
    height: 145px;  
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px grey);
} 


aside a
{
    text-decoration: none;
    color:#000000;
}

aside img
{
    border-radius: 25px 0 0 25px;    
    object-fit:cover;
    width: 9.5em;
    height: 9em;
    float: left;
}

aside h2
{
    font-size: 1em;
    font-weight: bold;
    padding-left: 20px;
}

aside p
{
    padding-left: 20px; 
}

.soleil-desc .blue-stars
{
    padding-top: 15px;
    padding-left: 20px; 
}

aside .stars
{
    padding-top: 15px;
    padding-left: 10px; 
}

.soleil-desc, .aucoeurdeleau-desc, .toutbleuetblanc-desc
{

   margin-bottom: -10px;
   display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}
/* Activités */

#activites
{
    display:flex;
    justify-content: space-between;
    max-width: 1300px;
}
#activites-t
{
    padding-left:20px;
}

#activites img
{
    border-radius: 25px 25px 0 0;
        
}

.colonne1 img
{
   object-fit:cover;
   width:18em;
   height:25em;
}

.pomegues img
{
    object-fit:cover;
    object-position: center;
   width:18em;
   height:11em;
}

.frioul img
{
    object-fit:cover;
    object-position: top;
    width:18em;
   height:9em;
}

.colonne3 img
{
    object-fit:cover;
   width:18em;
   height:25.5em;
}

.notredame img
{
    object-fit:cover;
    object-position: center;
   width:18em;
   height:10em;
}

.longchamp img
{
    object-fit:cover;
    object-position: center;
   width:18em;
   height:10em;
}


.colonne1, .pomegues, .frioul, .colonne3, .notredame, .longchamp
{
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    margin: 20px;
    padding-bottom: 1px;
    box-shadow: 0 0 4px 4px  #F2F2F2;
    text-decoration: none;
    width: 18em;
    height: fit-content;  
}

.colonne2 .pomegues
{
    margin-bottom: 35px;
}

.colonne4 .notredame
{
    margin-bottom: 35px;
}

#activites h1
{
    padding-left:20px;
    font-size: 1em;
}

#activites a
{
    color: black;
    text-decoration: none;
}


/*Footer */

footer
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    background-color: #F2F2F2;
    width: 1240px;
   
}

footer ul
{
    list-style-type: none;
    text-decoration: none;
    padding-left: 0px;
}

footer a
{
    font-size: 1.1em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

footer a:hover
{
    color:  #0065FC;
}

footer li
{
    line-height: 1.7em;
}

#assistance
{
    padding-right: 300px;
}

